html, body{
    box-sizing: border-box;
    width: 100%;
}
body{
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5rem;
}

/* GLOBALES */
img{
    max-width: 100%;
}
.container{
    max-width: 100%;
    text-align: center;
}
.mg-1{
    margin: 1rem 0 1rem 1rem;
}
.pb-1{
    padding-bottom: 2rem;
}
.pl-1{
    padding-left: 0;
}
.pl-2{
    padding-left: 1rem;
}
a{
    font-size: 1.5rem;
    color: royalblue;
    text-decoration: none;
}
h2{
    color: royalblue;
    margin: 3rem 0;
}
hr{
    width: 80%;
    background-color: #00800088;
    border: none;
    height: .2rem;
}

/* HEADER */
.logo-container{
    background-color: #30608F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.logo{
    padding-right: 5rem;
}
.r-social{
    display: flex;
    flex: 0 0 calc(15% - 1rem);
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}
.r-social a{
    margin-right: 5px;
    font-size: 1.5rem;
    color: #ffffff83;
}
.r-social a:hover{
    color: #ffffff;
}
.nav-container a{
    overflow: hidden;
    margin-right: 3%;
    font-size: 1.5em;
    font-style: oblique;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: 100%;
    transition: 275ms;
}
.nav-container a:hover{
    background-position: 0 100%;
}

/* OFERTA ACADÉMICA */
.academic-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem;
}
.academic-container div:nth-child(n){
    margin: 0 1rem;
}
.academic-of{
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem!important;
    border: 0.1rem solid #b5b5b565;
    color: #0000009d;
}
.content-academic li{
    list-style: none;
}
.content-academic a{
    color: rgba(65, 105, 225, 0.466);
    transition: all 500ms;
    font-size: 1.2rem;
    padding: 0 .5rem;
}
.content-academic a:hover{
    text-decoration: underline;
    color:royalblue;
}

/* CONTACTO */
.contact{
    background-color: #3a37370c;
}
.contact h2{
    color: #ffffff;
    background-color: rgba(65, 105, 225, 0.63);
    padding: 1rem;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.img-contact{
    flex: 0 0 calc(50% - 1rem);
    padding-right: 1rem;
}
.form-container{
    flex: 0 0 calc(50% - 1rem);
    max-width: 25%;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
}
.form-container input{
    margin-bottom: .7rem;
    flex: 0 0 calc(15% - 1rem);
}
.form-container textarea{
    flex: 0 0 calc(53% - 1rem);
}
.form-container button{
    flex: 0 0 calc(17% - 1rem);
    margin-top: 1rem;
    width: 50%;
    padding: .4rem;
    align-self: flex-end;
    background-color: rgb(13, 77, 13);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    transition: 400ms;
}
.form-container button:hover{
    background-color: rgba(13, 77, 13, 0.842);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* FOOTER */
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    background-color: #30608F;
    align-items: center;
    font-size: 70%;
    padding: 0 1rem;  
    color: #ffffff;
}
.logo-footer{
    padding-right: 1rem;
    line-height: 0;
}
.address{
    text-align: center;
    line-height: 1rem;
}

/* RESPONSIVE */
@media screen and (max-width: 900px){
    a{
        font-size: 100%!important;
    }
    .academic-container{
        margin: 0 5%;
    }
    .academic-of{
        flex: 1 0 20%;
        max-width: 90%;
    }
    .img-contact {
        flex: 0 0 70%!important;
        margin-bottom: 1rem;
        padding-right: 0;
    }
    .form-container{
        flex: 0 1 100%!important;
        max-width: 70%;
        height: 15rem;
        margin-bottom: 1rem;
        padding-right: 0;
    }
    .form-container button{
        width: 100%;
    }
    footer:nth-child(n){
        justify-content: center;
        padding: 0 2rem;
    }
    .logo-footer{
        padding: 0 3rem;
    }    
}